body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    border: 0px;
    box-shadow: 5px grey;
    background-color: #333;
}

.pagename {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: aliceblue;
}

.pagename img {
    width: auto;
    height: 100%;
}

.menu {
    display: inline;
    margin: 0px 20px;
}

.dropbtn {
    background-color: #333;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    background-color: #333;
    color: #6fd649;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    color: white;
}

.show {
    display: block;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 60px;
    background-color: #333;
}

.footer p {
    margin: 3px 0px;
    padding: 0px;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.br {
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 1px;
    color: white;
    margin: 5px 0px 0px 0px;
}

a {
    color: #6fd649;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    display: inline;
}

.board {
    width: 341px;
    height: 341px;
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    border: 5px solid black;
    padding: 0px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 30px;
}

.row {
    width: 341px;
    background-color: black;
    height: 112px;
    display: flex;
    padding: 0px;
    margin: 0px;
    border: 0px;
    justify-content: space-between;
}

.matrix {
    width: 112px;
    height: 112px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: white;
}


/* .grids {
    width: 45.5px;
    height: 45.5px;
    border: 2px solid white;
    background-color: bisque;
} */

input[type="text"] {
    /* width: 85%;
    height: 85%;*/
    display: inline;
    text-align: center;
    width: 36px;
    height: 36px;
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-right: 1px;
}

#btn {
    width: 120px;
    height: 30px;
    background-color: #333;
    border-radius: 5px;
    margin: 15px;
    color: #6fd649;
}

#btn:active {
    background-color: grey;
    color: white;
}

.popup {
    width: 20%;
    min-width: 250px;
    background-color: #333;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h3 {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0px;
    padding: 0px;
}

.popup button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: white;
    width: 300px;
    background-color: #333;
    border: 4px solid #6fd649;
    padding-top: 5px;
    margin: 0px;
    border-radius: 20px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.tutorial p {
    padding-left: 20px;
    margin: -2px 0px;
}

.headpart {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tutorial .br {
    margin-bottom: 10px;
}

.open-tutorial {
    visibility: visible;
    top: 40%;
    transform: translate(-50%, -50%) scale(1);
}
